* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: #012630;
	color: #fff;
	font-family: Nexa;
	font-size: 16px;
}

.button {
	align-self: flex-start;
	background: #63f542;
	border: 0;
	border-radius: 0.25rem;
	display: flex;
	font-family: inherit;
	font-size: inherit;
	margin-top: auto;
	padding: 0.35rem;
}

@font-face {
	font-family: "Nexa";
	src: url("/Nexa-Light.woff2") format("woff2");
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Nexa";
	src: url("/Nexa-Bold.woff2") format("woff2");
	font-display: swap;
	font-style: normal;
	font-weight: bold;
}
